.App {
  text-align: center;
  display: flex;
  justify-content: center;


}

.container {
  border: 1px solid #eee;

  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 2px 3px #ccc;
  box-sizing: border-box;
  margin: 50px;

}
.controls {
  padding-bottom: 20px;
}
.increment {
  background-color: green;
}

.decrement {
  background-color: red;
}

.reset {
  background-color: lightgray
}
